<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManagementContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MessagesConveyor/WeatherBot.MessagesConveyor"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagementContract"
                contract="MessageConveyorServiceReference.IManagementContract"
                name="BasicHttpBinding_IManagementContract" />
        </client>
    </system.serviceModel>
</configuration>